<div id="signInDialog" class="ui tiny modal">
    <div class="ui header">
        <i class="sign in icon"></i> Sign In
    </div>

    <div [formGroup]="form" class="content">
        <div class="ui message" *ngIf="message">{{message}}</div>
        <div class="ui form">
            <div class="field">
                <label>Email</label>
                <input formControlName="email" type="text" placeholder="Enter Email">
            </div>
            <div class="field">
                <label>Password</label>
                <input formControlName="password" type="password" placeholder="Enter Password">
            </div>
        </div>
    </div>

    <div class="actions">
        <button (click)="login()" [disabled]="!form.valid" class="ui blue button">Sign In</button>
    </div>
</div>