<div class="ui basic padded segment">

    <div class="ui grid">

        <div class="four wide column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="/assets/images/job-image.png" alt="">
                </div>
                <a (click)="editCompany()" *ngIf="ownCompany" class="ui bottom attached button">
                    <i class="pencil icon"></i> Edit Company
                </a>
            </div>
        </div>

        <div class="twelve wide column">

            <h1 class="ui header">
                <div class="content">
                    {{company.name}}
                    <div class="sub header">{{company.category}}</div>
                </div>
            </h1>

            <div class="ui horizontal relaxed divided list">
                <div class="item">
                    <div class="ui avator image">
                        <i class="calendar icon"></i>
                    </div>
                    <div class="content">
                        <div class="header">Founded</div>
                        <div class="description">{{company.founded}}</div>
                    </div>
                </div>
                <div class="item" *ngIf="company.size">
                    <div class="ui avator image">
                        <i class="users icon"></i>
                    </div>
                    <div class="content">
                        <div class="header">Employees</div>
                        <div class="description">{{company.size}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="ui avator image">
                        <i class="map icon"></i>
                    </div>
                    <div class="content">
                        <div class="header">Location</div>
                        <div class="description">{{company.location}}</div>
                    </div>
                </div>
                <div class="item" *ngIf="company.homePage">
                    <div class="ui avator image">
                        <i class="home icon"></i>
                    </div>
                    <div class="content">
                        <div class="header">Web Site</div>
                        <div class="description"><a href="#">{{company.homePage}}</a></div>
                    </div>
                </div>
            </div>

            <!-- About Us -->
            <h3>About Us</h3>
            <p>{{company.aboutUs}}</p>

            <!-- Visions -->
            <h3>Visions</h3>
            <p>{{company.visions}}</p>

            <h3>Job Offers</h3>

            <div class="ui secondary pointing menu" id="jobMenu">
                <a class="item" [ngClass]="{active: newJob}" (click)="changeList(company.id, true)">New Job Offers</a>
                <a class="item" [ngClass]="{active: !newJob}" (click)="changeList(company.id, false)">Finished Job
                    Offers</a>
            </div>

            <div class="ui tab active">

                <div class="ui basic segment">
                    <div class="ui relaxed divided list">

                        <div class="item" *ngFor="let item of list">
                            <i class="send large icon"></i>
                            <div class="content">
                                <div class="header">{{item.title}} <span class="app-right">2d</span></div>
                                <div class="description">{{item.jobType}}</div>
                                <div class="description"><span>{{item.location}}</span> |
                                    <span>{{item.requirements}}</span>
                                    | <span>{{item.salary}}</span></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>