<div class="ui padded segment">

    <div class="ui grid">

        <div class="four wide column">
            <!-- Image -->

            <div class="ui fluid image app-mb-8">
                <img src="/assets/images/job-image.png" alt="">
            </div>

        </div>

        <div class="twelve wide column">
            <h3>Add New Job Offer</h3>

            <form [formGroup]="form" class="ui form">
                <div class="fields">

                    <div class="six wide field">
                        <label>Job Title</label>
                        <input formControlName="title" type="text" placeholder="Enter Job Title">
                    </div>

                    <div class="ten wide field">
                        <div class="two fields">
                            <div class="field">
                                <label>Job Type</label>
                                <input formControlName="jobType" type="text" placeholder="Enter Job Type">
                            </div>

                            <div class="field">
                                <label>Job Location</label>
                                <input formControlName="location" type="text" placeholder="Enter Job Location">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields">

                    <div class="six wide field">
                        <label>Positions</label>
                        <input formControlName="posts" type="text" placeholder="Please Enter Positions">
                    </div>

                    <div class="ten wide field">
                        <label>Qualification</label>
                        <input formControlName="qualification" type="text" placeholder="Enter Qualifications">
                    </div>
                </div>

                <div class="fields">

                    <div class="six wide field">
                        <label>Salary</label>
                        <input formControlName="salary" type="text" placeholder="Please Enter Salary">
                    </div>

                    <div class="ten wide field">
                        <label>Experiances</label>
                        <input formControlName="expreiance" type="text" placeholder="Enter Experiances">
                    </div>
                </div>

                <div class="ui hidden divider"></div>

                <div formArrayName="descriptions">
                    <h3>Other Informations</h3>

                    <div class="fields" *ngFor="let item of descriptions.controls; let i = index" [formGroupName]="i">

                        <div class="six wide field">
                            <label *ngIf="i == 0">Title</label>
                            <input formControlName="name" type="text" placeholder="Please Enter Title">
                        </div>

                        <div class="ten wide field">
                            <label *ngIf="i == 0">Information</label>
                            <div class="ui action input">
                                <input formControlName="description" type="text"
                                    placeholder="Enter Information Details">
                                <button (click)="removeAttribute(i)" class="ui icon button"><i
                                        class="delete icon"></i></button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="ui hidden divider"></div>

                <div class="field">
                    <button (click)="addNewAttribute()" class="ui icon green labeled button"><i class="plus icon"></i>
                        Add</button>
                    <button (click)="save()" [disabled]="!form.valid" class="ui icon blue labeled button"><i
                            class="save icon"></i>
                        Save</button>
                    <button (click)="publish()" [disabled]="!form.valid" class="ui icon red labeled button"><i
                            class="send icon"></i>
                        Publish</button>
                </div>
            </form>
        </div>
    </div>
</div>