<div class="ui container">

    <!-- Search -->
    <div class="ui segment">
        <div class="ui header"><i class="search icon"></i> Search</div>

        <div [formGroup]="form" class="ui form">

            <div class="fields">
                <div class="field">
                    <label>Category</label>
                    <select formControlName="category" class="ui dropdown">
                        <option value="0">All Category</option>
                    </select>
                </div>

                <div class="field">
                    <label>Search Name</label>
                    <input formControlName="name" type="text" placeholder="Search Name">
                </div>

                <div class="field">
                    <label>&nbsp;</label>
                    <button class="ui red icon button">
                        <i class="search icon"></i> Search
                    </button>
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <button [routerLink]="['/edit-company']" routerLinkActive="active" class="ui purple icon button">
                        <i class="plus icon"></i> Add New
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Table -->
    <table class="ui table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Name</th>
                <th>Phone No.</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of list">
                <td>{{item.id}}</td>
                <td>{{item.category}}</td>
                <td>{{item.name}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.address}}</td>
            </tr>
        </tbody>
    </table>
</div>