<div id="signUpDialog" class="ui tiny modal">
    <div class="ui header">
        <i class="icon sign in"></i> Sign Up
    </div>

    <div class="content">
        <div [formGroup]="form" class="ui form">
            <div class="ui message" *ngIf="message">{{message}}</div>
            <div class="field">
                <label>User Name</label>
                <input formControlName="name" type="text" placeholder="Enter Your Name">
            </div>
            <div class="field">
                <label>Email</label>
                <input formControlName="email" type="text" placeholder="Enter Email Address">
            </div>
            <div class="field">
                <label>Password</label>
                <input formControlName="password" type="password" placeholder="Enter Password">
            </div>
        </div>
    </div>

    <div class="actions">
        <button (click)="candidateSignUp()" [disabled]="!form.valid" class="ui blue button">
            Sign Up Candidate
        </button>
        <button (click)="employerSignUp()" [disabled]="!form.valid" class="ui purple button">
            Sign Up Employer
        </button>
    </div>
</div>