<div id="signUpDialog" class="ui tiny modal">
    <div class="ui header">
        <i class="icon sign in"></i> Sign Up
    </div>

    <div class="content">
        <div class="ui form">

            <div class="field">
                <label>User Name</label>
                <input type="text" placeholder="Enter Your Name">
            </div>
            <div class="field">
                <label>Email</label>
                <input type="text" placeholder="Enter Email Address">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" placeholder="Enter Password">
            </div>
        </div>
    </div>

    <div class="actions">
        <button class="ui blue button">
            Sign Up Candidate
        </button>
        <button class="ui purple button">
            Sign Up Employer
        </button>
    </div>
</div>