/* You can add global styles to this file, and also import other style files */
.app-page-body {
    margin-top: 60px !important;
}

.app-right {
    float: right;
}

.app-mb-8 {
    margin-bottom: 8px !important;
}