<div class="ui grid">
    <div class="four wide column">

        <div class="ui card">
            <div class="image">
                <img src="../../assets/images/profile.png">
            </div>
            <div class="ui bottom attached button">
                <i class="camera icon"></i> Upload Photo
            </div>
        </div>

        <div class="ui vertical fluid menu">
            <a href="" class="item">Edit Profile</a>
            <a href="" class="item">Change Password</a>
            <a href="" class="item">Resent Search</a>
            <a href="" class="item">Settings</a>
        </div>
    </div>

    <div class="twelve wide column">
        <div class="ui padded segment">
            <div class="ui header">Some Header</div>
        </div>
    </div>
</div>