<div class="ui raised padded segment">
    <div class="ui header"><i class="search icon"></i> Search</div>

    <div class="content">
        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <label>Status</label>
                    <select class="ui dropdown">
                        <option value="0">All Status</option>
                    </select>
                </div>

                <div class="field">
                    <label>Date From</label>
                    <input type="date" placeholder="Apply Date From">
                </div>

                <div class="field">
                    <label>Company</label>
                    <input type="text" placeholder="Search Company">
                </div>

                <div class="field">
                    <label>&nbsp;</label>
                    <button class="ui animated blue button">
                        <div class="visible content">Search</div>
                        <div class="hidden content"><i class="search icon"></i></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="ui table">

    <thead>
        <tr>
            <th>Company</th>
            <th>Location</th>
            <th>Position</th>
            <th>Apply Date</th>
            <th>Status</th>
            <th>Remark</th>
            <th></th>
        </tr>
    </thead>
</table>