<div class="ui padded raised segment">

    <div class="ui header">
        <i class="search icon"></i> Search
    </div>

    <div class="content">

        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <label>Name</label>
                    <input type="text" placeholder="Search Name">
                </div>
                <div class="field">
                    <label>Category</label>
                    <input type="text" placeholder="Search Category">
                </div>
                <div class="field">
                    <label>Last Job Post</label>
                    <input type="date" placeholder="Search Name">
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <button class="ui animated blue button">
                        <span class="visible content">Search</span>
                        <span class="hidden content"><i class="search icon"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="ui table">

    <thead>
        <tr>
            <th>Company Name</th>
            <th>Category</th>
            <th>Location</th>
            <th>Follow Date</th>
            <th>Lst Job Posting</th>
        </tr>
    </thead>
</table>