<nav class="ui secondary top fixed inverted blue menu">

  <div class="ui container">
    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" class="item"><i
        class="search icon"></i> Job Search</a>

    <a [routerLink]="['/candidate/cv-form']" routerLinkActive="active" class="item"
      *ngIf="authenticated && role == 'Candidate'"><i class="address card icon"></i> CV Form</a>

    <a [routerLink]="['/candidate/applications']" routerLinkActive="active" class="item"
      *ngIf="authenticated && role == 'Candidate'"><i class="list icon"></i> Applications</a>

    <a [routerLink]="['/candidate/followings']" routerLinkActive="active" class="item"
      *ngIf="authenticated && role == 'Candidate'"><i class="bullhorn icon"></i> Following</a>

    <a [routerLink]="['/employer/job-offer-edit']" routerLinkActive="active" class="item"
      *ngIf="authenticated && role == 'Employer'"><i class="plus icon"></i> Add New Job Offer</a>

    <a [routerLink]="['/member/messages']" routerLinkActive="active" class="item" *ngIf="authenticated"><i
        class="envelope icon"></i> Messages</a>


    <div class="right menu">
      <a (click)="signInComponent.showDialog()" class="item" *ngIf="!authenticated">
        <i class="sign in icon"></i> Sign In
      </a>
      <a (click)="signUpComponent.showDialog()" class="item" *ngIf="!authenticated">
        <i class="sign in icon"></i> Sign Up
      </a>

      <a (click)="profile()" routerLinkActive="active" class="item" *ngIf="authenticated">
        <i class="user icon"></i>
        {{userName}}
      </a>
      <a (click)="signout()" class="item" *ngIf="authenticated">
        <i class="sign out icon"></i> Sing Out
      </a>
    </div>
  </div>
</nav>

<app-sign-up></app-sign-up>

<app-sing-in></app-sing-in>

<div class="ui app-page-body container">
  <router-outlet></router-outlet>
</div>