<div class="ui container">
  <!-- Title -->
  <h1>Address Management</h1>

  <!-- Search -->
  <div class="ui segment">
    <div class="ui header">
      <i class="search icon"></i> Search
    </div>
    <form [formGroup]="searchForm" class="ui form">
      <div class="four fields">
        <div class="field">
          <select formControlName="division" class="ui dropdown">
            <option value="0">All Division</option>
            <option *ngFor="let item of divisions" [value]="item.id">{{item.name}}</option>
          </select>
        </div>

        <div class="field">
          <select formControlName="township" class="ui dropdown">
            <option value="0">All Townships</option>
            <option *ngFor="let item of schTownships" [value]="item.id">{{item.name}}</option>
          </select>
        </div>

        <div class="field">
          <input type="text" formControlName="address" placeholder="Search Address">
        </div>

        <div class="field">
          <button type="button" class="ui icon button" (click)="search()">
            <i class="search icon"></i> Search
          </button>
          <button type="button" class="ui icon red button" (click)="addNew()">
            <i class="plus icon"></i> Add Address
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- Data List -->
  <table class="ui table" *ngIf="list.length">
    <thead>
      <tr>
        <th>ID</th>
        <th>Division</th>
        <th>Township</th>
        <th>Street</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{item.id}}</td>
        <td>{{item.township.division.name}}</td>
        <td>{{item.township.name}}</td>
        <td>{{item.street}}</td>
        <td>{{item.address}}</td>
        <td>
          <a (click)="edit(item)">
            <i class="pencil icon"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="ui message" *ngIf="!list.length">
    There is no Data
  </div>

  <!-- Edit Form -->
  <div class="ui tiny modal">
    <div class="header">
      {{editTitle}} Address
    </div>
    <form [formGroup]="editForm" class="ui form content">

      <div class="field">
        <label>Division</label>
        <select formControlName="division" class="ui dropdown">
          <option *ngFor="let item of divisions" [value]="item.id">{{item.name}}</option>
        </select>
      </div>

      <div class="field">
        <label>Township</label>
        <select formControlName="township" class="ui dropdown">
          <option *ngFor="let item of edtTownships" [ngValue]="item">{{item.name}}</option>
        </select>
      </div>

      <div class="field">
        <label>Street</label>
        <input formControlName="street" type="text" placeholder="Enter Street">
      </div>

      <div class="field">
        <label>Address</label>
        <input formControlName="address" type="text" placeholder="Enter Address">
      </div>

    </form>
    <div class="actions">
      <button class="ui cancel icon button">
        <i class="delete icon"></i> Cancel
      </button>
      <button (click)="save()" class="ui icon red button">
        <i class="save icon"></i> Save
      </button>
    </div>
  </div>
</div>